<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>랜더링성공</h1>

    
    <script>
        console.log("라우터에게 보내는 name 값: "+name1);
    </script>
</body>
</html>